/* ICON LIST */
.iconList {
  display: flex;
  flex-direction: row !important;
  justify-content: center;
  padding: 10px;
  gap: 10px;
}

/* LICENSE PLATE */
.license_plate {
  border: 2px solid var(--color-system-text-200);
  font-size: var(--font-size-text);
  padding: 2px;
  border-radius: 10px;
}
/* * */
/* DATA WRAPPER */
.dataWrapper{
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/* TABLE WRAPPER  */
.tableWrapper{
  padding: 10px;
  width: 100%;
}
/* * */
/* TABLE DATA */
.tableHeaders{
  font-size: var(--font-size-title);
  font-weight: var(--font-weight-bold);
}

.rowLabel{
  font-size: var(--font-size-subtitle);
  font-weight: var(--font-weight-semibold);
}
.rowValue{
  font-size: var(--font-size-text);
  font-weight: var(--font-weight-text);
}
/* * */