/* * */
/* HEADINGS */

.heading {
	font-size: 20px;
	font-weight: var(--font-weight-semibold);
	color: var(--color-system-text-100);
}

.subheading {
	font-size: 14px;
	font-weight: var(--font-weight-medium);
	color: var(--color-system-text-300);
}